body {
	background-color: orange;
}

#playground {
	border: dotted black;
	color: purple;
}

.child {
	background-color: slategray;
}

li {
	border-bottom: 3px solid tomato;
}

#playground > h1 {
	color: blue;
}

.child ~ p {
	background-color: green;
}

#playground {
	display: none;
}

h1 {
	font-family: 'Barrio', cursive;
}